@import "./colors";

body {
  font-family: "Roboto", sans-serif;
  background: #fafafa;
  overflow-x: hidden;
  position: relative;
}

footer {
  .footer {
    background: $black;
    min-height: 70px;
    color: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    line-height: 72px;

    .name {
      color: #fff;
      font-size: 15px;
      float: left;
    }

    .copyright {
      color: #9c9c9c;
      font-size: 12px;
      text-align: right;
      float: right;

      a {
        color: #fff;
      }
    }
  }
}

.bottom_30 {
  margin-bottom: 30px;
}

.top_30 {
  margin-top: 30px;
}

.cursor-pointer,
.nav-tabs .nav-link {
  cursor: pointer;
}

.break-word {
  word-break: break-word;
}
.no-wrap {
  white-space: nowrap;
  td,
  th {
    white-space: nowrap;
  }
}

.top_60 {
  margin-top: 60px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.site-btn {
  color: $black !important;
  background: $yellow;

  font-size: 14px;
  font-weight: 500;
  border: 0;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  padding: 1px 29px;
  line-height: 35px;

  .icon {
    text-align: left;
    padding: 1px 6px 1px 19px;
  }
}

header {
  background: #fff;
  display: inline-block;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  height: 70px;
  width: 100%;
  margin-bottom: 30px;
  line-height: 70px;
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
}

.social-icons a {
  color: $black;
  font-size: 12px;
  transition: all ease 0.2s;
  width: 24px;
  height: 18px;
  display: inline-block;
}

.nav-item {
  .home-btn {
    color: $black !important;
    background-color: $yellow;
    border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    padding: 0px 24px;
    float: left;
    height: 70px;
    line-height: 70px;
    margin-right: 10px;
    transition: all ease 0.4s;
    line-height: 77px;
    font-size: 21px;
  }

  a {
    font-size: 14px;
    font-weight: bold;
    color: $black;
    padding: 0 10px;
    line-height: 73px;
    display: block;
  }

  .active {
    color: $yellow;
  }
}
