.bottom_30 {
  margin-bottom: 30px;
}

.bottom_45 {
  margin-bottom: 45px;
}

.top_60 {
  margin-top: 60px;
}

.top_30 {
  margin-top: 30px;
}

.padbot_45 {
  padding-bottom: 45px;
}

.padding_30 {
  padding-top: 30px;
}

.padbot_50 {
  padding-bottom: 50px;
}

.padding_60 {
  padding-top: 60px;
}
